body {
  margin: 0;
  font-family: Montserrat;
  background-color: #23252c;
}

.App {
  margin: 60px auto;
  width: 400px;
  background-color: #1a1b21;
  color: #ffffff;
  border-radius: 20px;
}

.header--image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.main {
  padding: 25px 38px;
}

.main--title {
  align-content: center;
}

.main--content {
  text-align: left;
}

.main--content > h4 {
  font-size: 20px;
  font-weight: 700;
}

.main--content > h1,
.main--content > h5 {
  text-align: center;
  margin: 0px;
}

.footer {
  background-color: #161619;
  padding: 10px;
  border-radius: 0px 0px 20px 20px;
}

.footer > ul {
  display: flex;
  list-style-type: none;
}

.social-logo {
  padding: 2px 10px;
  height: 30px;
  width: 30px;
}
